<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원옵션</title>
</head>
<body>
  <h2>회원옵션</h2>
  <form action="{% url 'member:m2' %}" method="post" name="loginFrm">
    {% csrf_token %}
    <label>회원권번호</label> <!--111-->
    <input type="text" name='memberId' id='memberId' value={{info1}}><br>
    <label>금액</label> <!--1000000-->
    <input type="text" name='money' id='money' value={{info2}}><br>
    <label>옵션</label> <!--no1-->
    <input type="text" name='option' id='option' value={{info3}}><br>
    <input type='checkbox' name='saveMember' value='1' id='saveMember' {%if info1%}checked{%endif%}>
    <label for ='saveMember'>회원정보저장</label><br>
    <input type='submit' value='회원가입'>
  </form>
</body>
</html>