@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{margin: 0; padding:0; 
font-family: "Noto Sans KR", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; }
a{text-decoration: none; color: inherit;}
ul{list-style: none;}

.top_menu{width: 100%;height: 35px; border: 1px solid black;
background: black; color: white;} 

.top_menu ul{display: flex; font-size: 13px; width: 500px; float:right; margin-right: 100px; margin-top: 7px;}
.top_menu li{width: 110px; height: 17px; text-align: center; box-sizing: border-box; border-left: 1px solid white;}

.top_menu .top_menu1{width: 80px; height: 17px;}
.top_menu .top_menu2{width: 80px; height: 17px;}
.top_menu .top_menu3{width: 100px; height: 17px;}
.top_menu .top_menu4{width: 100px; height: 17px;}
.top_menu .top_menu5{width: 100px; height: 17px; border-right: 1px solid white;}

nav{width: 100%;height: 82px; border-bottom: 1px solid black;
  display: flex; }
.logo{width: 150px; height: 82px; padding-top: 25px; padding-left: 40px;}
.logo h1{width: 100px; height: 30px; background:url(../images/ico_set.png) -320px -385px no-repeat;
background-size: 800px 800px;}

.menu{width: 75%;height: 82px;}
.menu ul{display: flex; width: 650px; height: 82px; margin: 0 auto; text-align: center;
  box-sizing: border-box; 
  }
.menu .menu1{width: 160px; height: 57px; padding-top: 25px; padding-right: 30px;font-size: 22px; font-weight: 700;}
.menu .menu2{width: 160px; height: 57px; padding-top: 25px; font-size: 22px; font-weight: 700;}
.menu .menu3{width: 160px; height: 57px; padding-top: 25px; font-size: 22px; font-weight: 700;}
.menu .menu4{width: 160px; height: 57px; padding-top: 25px; font-size: 22px; font-weight: 700;}
.menu .menu5{width: 160px; height: 57px; padding-top: 25px; font-size: 22px; font-weight: 700;}

.quick_menu{width: 200px; height: 82px;
  text-align: center;}

  .quick_menu ul{display: flex; width: 180px; height: 52px; 
    margin-top: 15px;}
    
    .quick_menu li{width: 62px;height: 52px;
    font-size: 12px; font-weight: 700; color: #101010;} 

    .quick_menu .quick_menu1{
    width: 32px; height: 32px;
    display: inline-block;
    background:url(../images/ico_set.png) -584px -320px no-repeat;
    background-size: 800px 800px;}

    .quick_menu div{
      width: 50px; height:20px; position: relative;
      left: -10px; top: 30px;
    }

    .quick_menu .quick_menu2{
      width: 32px; height: 32px;
      display: inline-block;
      background:url(../images/ico_set.png) -628px -320px no-repeat;
      background-size: 800px 800px;}
    
  section{width: 100%; height: 640px; border: 1px solid black;}